.dropdown {
  position: absolute;
  top: 5rem;
  right: 2rem;
  width: 120px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.175);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin: 0px;
  padding: 5px 0px;
}

.dropdown-content hr {
  width: 80px;
  border: 1 px solid #808080;
  margin: 5px;
}

.dropdown-content li {
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}

.dropdown-content li:hover {
  border-bottom: 1px solid #212529;
}
