.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: blueviolet;
    padding: 1em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    gap: 1.5em;
}

.product-card-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.product-card h3 {
    font-size: 1.5em;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}