.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  transition: 0.5s;
}

.product-hunter-logo {
  width: 70px;
  cursor: pointer;
}

.navbar-links {
  flex: 1;
  list-style: none;
  text-align: center;
}

.navbar-links li {
  display: inline-block;
  margin: 5px 20px;
  font-size: 18px;
  cursor: pointer;
}

.navbar-links li a {
  color: #212529;
  text-decoration: none;
}

.navbar .active {
  border-bottom: 2px solid #212529;
}

.toggle-icon {
  margin-left: 20px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  background: #212529;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder {
  color: #fff;
}

.signIn-btn {
  background: transparent;
  font-size: 18px;
  padding: 10px 20px;
  color: #212529;
  border: 2px solid #212529;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.signIn-btn :hover {
  background-color: #212529;
  color: #fff;
}

.user-actions .user-profile-image {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  cursor: pointer;
}